body {
	font-family: 'Varela Round', sans-serif;
}

img {
	max-width: 100%;
}
nav ul li {
	display: inline-block;
	list-style-type: none;
	background: #870;
	padding: 0.5%;
}

a{
	color: white;
}

/*Heading Style*/
h1{
	background: #890;
	text-align: center; 
	padding: 0.5%;
}

h2{
	background: #880;
	text-align: center;
	padding: 0.5%;
}
/*Classes Styles*/
.col{
	text-align: center;
	color: #999;
}
.container{
text-align: center;
overflow: hidden;
}

